<div class="container" style="padding-bottom: 3em; margin-top: 20px;">
  <div class="row align-items-start">
    <div class="col">
      <h4 style="font-size: 1.2rem;">About us</h4>
      <p
        style="
          width: 70%;
          line-height: 1.7;
          color: #8c92a0;
          font-weight: 300;
          font-size: 16px;
        "
      >
        Mirath is an Online store for the shopping purposes. It has complete
        range of dresses for men and women. Moreover they provide good
        collection for Children to.
      </p>
      <div class="mt-2"></div>
      <form>
        <input
          type="email"
          class="form-control"
          style="width: 60%;"
          placeholder="Feedback"
        />
      </form>
      <br />
      <br />
      <br />
      <h4>Share Link on Social Media</h4>
      <share-buttons
        [theme]="'material-dark'"
        [include]="['facebook', 'whatsapp', 'linkedin', 'copy']"
        [show]="4"
        [size]="20"
        [url]="'http://delicate-texture.surge.sh/'"
        [autoSetMeta]="false"
      ></share-buttons>
    </div>
    <div class="col">
      <h4 style="font-size: 1.2rem;">Quick Links</h4>
      <div class="row align-items-start">
        <div class="col" style="margin-right: 1em;">
          <ul style="margin-left: -2em; margin-top: 1em;">
            <li style="margin-bottom: 0.7em;">Sell online</li>
            <li style="margin-bottom: 0.7em;">Features</li>
            <li style="margin-bottom: 0.7em;">Shopping Cart</li>
            <li style="margin-bottom: 0.7em;">Store builder</li>
            <li style="margin-bottom: 0.7em;">Point of Sale</li>
            <li style="margin-bottom: 0.7em;">Software</li>
          </ul>
        </div>
        <div class="col" style="margin-right: 1em;">
          <ul style="margin-left: -2em; margin-top: 1em;">
            <li style="margin-bottom: 0.6em;">Mobile</li>
            <li style="margin-bottom: 0.7em;">Ecommerce</li>
            <li style="margin-bottom: 0.7em;">Dropshipping</li>
            <li style="margin-bottom: 0.7em;">Website</li>
            <li style="margin-bottom: 0.7em;">Develpoment</li>
            <li style="margin-bottom: 0.7em;">Hardware</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <app-googleFBlogin></app-googleFBlogin>
    </div>
  </div>
</div>
