<div class="container text-center">
  <h1>Collection</h1>
  <div class="row align-items-start" style="border: 1px solid #eee;">
    <div class="col" style="text-align: center; border-right: 1px solid #eee;">
      <img
        style="width: 15em; margin-bottom: -6em;"
        src="https://www.dropbox.com/s/i2pd85w2kdbhb5n/1.webp?raw=1"
      />
      <span style="margin-top: -6em;">
        <h2>The Shoe</h2>
        <p style="color: gray;">Summer Collection</p>
        <h3>$9.50</h3>
      </span>
    </div>
    <div class="col" style="text-align: center; border-right: 1px solid #eee;">
      <img
        style="width: 15em; margin-bottom: -6em;"
        src="https://www.dropbox.com/s/y0juuizirnw82ge/2.webp?raw=1"
      />
      <span style="margin-top: -6em;">
        <h2>Marc Jacobs Bag</h2>
        <p style="color: gray;">Summer Collection</p>
        <h3>
          <span>$9.50</span>
          <span
            style="
              margin-left: 0.5em;
              color: #adb5bd;
              text-decoration: line-through;
            "
            >$30</span
          >
        </h3>
      </span>
    </div>
    <div class="col" style="text-align: center; border-right: 1px solid #eee;">
      <img
        style="width: 15em; margin-bottom: -6em;"
        src="https://www.dropbox.com/s/56px247j6q8bp42/3.webp?raw=1"
      />
      <span style="margin-top: -6em;">
        <h2>The Belt</h2>
        <p style="color: gray;">Summer Collection</p>
        <h3>$9.50</h3>
      </span>
    </div>
  </div>
</div>
