
<div class="conatiner-fluid">
  <div class="row">
    <div class="col-12">
      <!-- <app-login></app-login> -->
      <div class="container">
        <div class="row"><div class="col-12"></div></div>
      </div>
      <app-header></app-header> <br />

      <app-feature
        [t1]="text1"
        [t2]="text2"
        [original]="original1"
        [discount]="discount1"
        [url]="url1"
      ></app-feature>
      <br />

      <app-productdisplay></app-productdisplay>
      <br />
      <br />
      <br />
      <br />

      <app-feature
        [t1]="text1"
        [t2]="text2"
        [original]="original2"
        [discount]="discount2"
        [url]="url2"
      ></app-feature>
      <br />
      <br />
      <app-map></app-map>
      <br />
      <br />
      <app-footer></app-footer>
    </div>
  </div>
</div>
