<div class="row">
  <div class="col-12" style="background: #f9f9f9">
    <div class="row" style="display: inline-block">
      <div
        class="col-lg-6 col-12 text-center p-5"
        style="display: inline-block; width: 90%"
      >
        <h1 style="font-weight: 600; font-size: 3em">
          {{ t1 }}
        </h1>
        <small> {{ t2 }} </small>
        <h3>
          <span>{{ discount }}</span>
          <span
            style="
              margin-left: 0.5em;
              color: #adb5bd;
              text-decoration: line-through;
            "
            >{{ original }}</span
          >
        </h3>
        <div class="">
          <button
            style="
              background-color: transparent;
              background-image: none;
              padding: 0.5em 1em;
            "
            id="btn1"
          >
            SHOP NOW</button
          ><button
            style="
              color: #fff;
              background-color: black;
              border-color: #000;
              padding: 0.5em 1em;
              margin-left: 0.5em;
            "
            id="btn2"
          >
            SHOP LATER
          </button>
        </div>
      </div>
      <div style="display: inline-block; width: 10%">
        <img style="width: 25em" src="{{ url }}" />
      </div>
    </div>
  </div>
</div>
